<div class = "jumbotron text-center">
  <div class="container">
    <h1>Property Listings</h1>
    <p>Access the best properties available</p>
    <a *ngIf="!(af.auth | async)" (click)="login()"><img src="assets/img/google.png"></a>
  </div>
</div>